/*
  ----------------
  ボタン
  ----------------
*/
.more {
	display: block;
  color: #FA6600;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  border: 1px solid #FA6600;
  border-radius: 30px;
  width: 200px;
  margin: 0 auto;
  position: relative;
  @media #{$sp} {
    width: 85%;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20px;
    margin: auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3px 0 3px 5px;
    border-color: transparent transparent transparent #FA6600;
  }
  &:hover {
    opacity: 1;
    background: #fff;
  }
}

.more-orange {
  display: block;
  color: #fff;
  background: #FA6600;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  border: 1px solid #FA6600;
  border-radius: 30px;
  width: 320px;
  margin: 0 auto;
  @media #{$sp} {
    width: 85%;
  }
  &:hover {
    opacity: 1;
    background: #fff;
    color: #FA6600;
  }
}

.more-square {
  display: block;
  color: #fff;
  font-weight: bold;
  text-align: center;
  border: 1px solid #919194;
  padding: 13px;
  span {
    position: relative;
    display: inline-block;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: -1.5em;
      margin: auto;
      width: 10px;
      height: 9px;
      background: url("../img/common/blank.svg") 50% / contain no-repeat;
    }
  }
  &:hover {
    opacity: 1;
    background: #FA6600;
  }
}

// 吹き出し付きボタン
.balloon {
  text-align: center;
  &__txt {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 10px;
    background: #194D8C;
    color: #fff;
    border-radius: 2px;
    margin-bottom: 15px;
    position: relative;
    @media #{$sp} {
      font-size: 12px;
    }
    &::before {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      margin: auto;
      width: 0;
      height: 0;
      border-color: #194D8C rgba(0,0,0,0) rgba(0,0,0,0);
      border-style: solid;
      border-width: 6px 6px 0;
      z-index: 2;
    }
  }
}







// 電話番号
.tel {
  display: inline-block;
  font-size: 36px;
  font-weight: 700;
  color: #000;
  padding-left: 35px;
  position: relative;
  @media #{$sp} {
    font-size: 20px;
    padding-left: 30px;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 22px;
    height: 33px;
    background: url('../img/common/tel.svg') 50% / contain no-repeat;
    @media #{$sp} {
      width: 15px;
      height: 25px;
    }
  } 
}

// ボタン
.btn01 {
	display: block;
  max-width: 560px;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	padding: 17px;
	background: #0D5BAB;
  box-shadow: 0 7px 20px rgba(0,0,0,0.22);
	position: relative;
  border-radius: 50px;
  margin: 0 auto;
  border: 3px solid #0D5BAB;
	@media #{$sp} {
		font-size: 14px;
    padding: 13px;
    max-width: 85%;
    border: 2px solid #0D5BAB;
	}
  &:before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
		right: 30px;
    width: 8px;
    height: 8px;
    border-top: solid 3px #fff;
    border-right: solid 3px #fff;
    transform: rotate(45deg);
    transition: all .3s;
    @media #{$sp} {
      right: 20px;
    }
	}
  &:hover {
    opacity: 1;
    background: #fff;
    color: #0D5BAB;
    &::before {
      border-top: solid 3px #0D5BAB;
      border-right: solid 3px #0D5BAB;
    }
  }
  // サムネ付きボタン
  &.thumb {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: -50px;
      margin: auto;
      width: 126px;
      height: 88px;
      background: url("../img/common/img-thumb01.png") 50% / contain no-repeat;
      transition: all .3s;
      @media #{$sp} {
        left: -30px;
        width: 90px;
        height: 55px;
      }
    }
    &:hover {
      &::after {
        width: 136px;
        height: 98px;
      }
    }
  }
  // 小さいボタン
  &.small {
    max-width: 330px;
    padding: 10px;
    &:before {
      width: 6px;
      height: 6px;
      border-top: solid 2px #fff;
      border-right: solid 2px #fff;
    }
    &:hover {
      &::before {
        border-top: solid 2px #F7A307;
        border-right: solid 2px #F7A307;
      }
    }
  }
  // 最小ボタン
  &.tiny {
    font-size: 13px;
    width: 140px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.16);
    &:before {
      content: none;
    }
  }
}

