{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Custom tags before </head> #}
{% block customHead %}
{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}  
{% endblock %}

{# Main content #}
{% block content %}

<main>

  <section class="hero-lower pdc">
    <div class="containers">
      <h1 class="ttl-sub mb15">金属粉末乾燥保管キャビネット</h1>
      <div class="ttl-primary-lower" data-aos="fade-right">Powder Dry Cabinet</div>
      <a href="/contact/" class="more">ご相談・お問合せ</a>
    </div>
  </section>

  <section class="breadcrumb">
    <div class="containers">
      <ul class="flex fS">
        <li><a href="/">TOP</a></li>
        <li>Powder Dry Cabinet</li>
      </ul>
    </div>
  </section>

  <section class="intro-com">
    <div class="containers">
      <div class="flex jcA item">
        <div class="item__img" data-aos="zoom-in"><img src="/dcms_media/assets/img/pdc/img-intro.webp" alt="High Purity Nitrogen Generator"></div>
        <div class="item__box">
          <h2 class="item__box--ttl">金属粉末乾燥保管キャビネット</h2>
          <div class="item__box--txt">
            <p>AM用金属粉末乾燥保管キャビネットです。</p>
            <p>庫内の酸素濃度及び露点を管理し、理想的なパウダー管理環境を保つことで、水分吸着や酸化を防止して、造形品質の維持に貢献します。</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="figure-com">
    <div class="containers">
      <h2 class="ttl-secondary-lower"><span class="small">金属粉末の酸化・吸湿に対する<br class="sp-only">ソリューション</span><br>AM用金属粉末専用の<br class="sp-only"><span class="bg">金属粉末乾燥保管キャビネット</span></h2>
      <div class="figure-com__img" data-aos="fade"><img src="/dcms_media/assets/img/pdc/img-figure.webp" alt="金属粉末乾燥保管キャビネット"></div>
    </div>
  </section>

  <section class="symmetry">
    <div class="containers">
      <h2 class="ttl-secondary-lower"><span class="small">大陽日酸 presents </span><br>金属3Dプリンターの<br class="sp-only">原料品質を維持する<br class="sp-only">「金属粉末乾燥保管キャビネット」</h2>
      <div class="flex sp-reverse item">
        <div class="item__box">
          <h3 class="item__box--ttl">金属AMに欠かせない原材料の品質維持</h3>
          <div class="item__box--txt">
            <p>金属AMに欠かせない原材料の品質維持のためには、酸化防止と水分管理が非常に重要な要素です。</p>
            <p>大陽日酸の「金属パウダー乾燥保管キャビネット」は、庫内雰囲気の不活性ガス置換および低酸素濃度・低露点環境を実現し、原材料の品質維持に大いに貢献します。</p>
          </div>
        </div>
        <div class="item__img" data-aos="fade-left"><img src="/dcms_media/assets/img/pdc/img-symmetry01.webp" alt="金属AMに欠かせない原材料の品質維持"></div>
      </div>
      <div class="flex item">
        <div class="item__img" data-aos="fade-right"><img src="/dcms_media/assets/img/pdc/img-symmetry02.webp" alt="従来の保管法よりも優位性の高いキャビネット保管"></div>
        <div class="item__box">
          <h3 class="item__box--ttl">従来の保管法よりも優位性の高い<br class="sp-only">キャビネット保管</h3>
          <div class="item__box--txt">
            <p>水分吸着の速度は非常に早くため、いかに早く、低い露点まで到達させられるかが肝要です。</p>
            <p>本製品は、庫内の酸素濃度は保管後1hで1%未満まで、最終的に20ppm程度まで低下させることが可能です。水分濃度は、保管後1hで -30℃ Dp（375ppm）程度まで、最終的に -70℃ Dp（2.58ppm）程度まで低下させることが可能です。また、従来の粉末保管庫と比較しても、露点の低下速度の速さや到達露点の双方で優位性が確認されています。</p>
          </div>
        </div>
      </div>
      <div class="balloon">
        <div class="balloon__txt">造形品質・機械的強度を向上させる循環精製システム</div>
        <a href="/contact/" class="more">金属粉末乾燥保管キャビネットの<br class="sp-only">お問合せはこちら</a>
      </div>
    </div>
  </section>

  <section class="inquiry">
    <div class="containers">
      <h2 class="ttl-secondary">商品に関するご相談・お問合せ</h2>
      <div class="lead">金属3Dプリンターにつきまして、お困りごとがありましたらお気軽にご連絡ください。</div>
      <a href="/contact/" class="more-orange">ご相談・お問合せ</a>
      <div class="inquiry__box">
        <h3 class="inquiry__box--ttl">商品の詳細はこちらから</h3>
        <div class="flex jcC inquiry__box--list">
          <ul class="blank">
            <li><a href="/dcms_media/assets/img/pdf/velo3d.pdf" target="_blank">金属3Dプリンター｜Velo3D</a></li>
            <li><a href="/dcms_media/assets/img/pdf/gefertec.pdf" target="_blank">金属3Dプリンター｜GEFERTEC</a></li>
            <li><a href="/dcms_media/assets/img/pdf/meltio.pdf" target="_blank">金属3Dプリンター｜MELTIO</a></li>
            <li><a href="/dcms_media/assets/img/pdf/optomec.pdf" target="_blank">金属3Dプリンター｜OPTOMEC</a></li>
          </ul>
          <ul>
            <li><a href="/printpure/">PrintPure ™</a></li>
            <li><a href="/high-purity-nitrogen-generator/">高純度窒素発生装置</a></li>
            <li><a href="/powder-dry-cabinet/">金属粉末乾燥保管キャビネット</a></li>
            <li><a href="/contact/">金属粉末（お問合せ）</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>

</main>

{% endblock %}