{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Custom tags before </head> #}
{% block customHead %}
{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}  
{% endblock %}

{# Main content #}
{% block content %}

<main>

  <section class="preparation">
    <div class="containers">
      <h1 class="ttl-secondary">準備中</h1>
      <div class="preparation__img"><img src="/dcms_media/assets/img/common/img-preparation.png" alt="準備中"></div>
    </div>
  </section>

</main>

{% endblock %}