{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Custom tags before </head> #}
{% block customHead %}
{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}  
{% endblock %}

{# Main content #}
{% block content %}

<main>

  <section class="hero-top">
    <div class="containers">
      <div class="hero-top__ttl">
        <h1 class="ttl-primary" data-aos="fade-right" data-aos-delay="300"><img src="/dcms_media/assets/img/top/img-latest.webp" alt="最先端の先へ"></h1>
        <div class="eng" data-aos="fade-right" data-aos-delay="400"><img src="/dcms_media/assets/img/top/img-eng.webp" alt="Be Avant-garde !"></div>
        <a href="/concept/" data-aos="fade-right" data-aos-delay="500">コンセプト</a>
      </div>
    </div>
    <div class="triangle" data-aos="fade-right"></div>
  </section>

  <section class="news-top">
    <div class="flex aiC containers">
      <div class="news-top__ttl">
        <h2 class="ttl-secondary cB">ニュースリリース</h2>
        <!-- <a href="/news/" class="more">一覧</a> -->
      </div>
      <div class="news-top__item" data-aos="fade-left">
        <a href="#" class="news-top__item--link">
          <dl class="flex aiC gap20">
            <dt class="flex aiC gap20 sp-fS">
              <time class="time">2023.6.21</time>
              <!-- <span class="cat">セミナー</span> -->
            </dt>
            <dd>2023Velo3D社によるRoadshow “The Proof is in the Printing”が大阪梅田で開催されます。</dd>
          </dl>
        </a>
        <a href="#" class="news-top__item--link">
          <dl class="flex aiC gap20">
            <dt class="flex aiC gap20 sp-fS">
              <time class="time">2023.4.15</time>
              <!-- <span class="cat">お知らせ</span> -->
            </dt>
            <dd>岡谷酸素90周年記念展示会「オカフェス2023」に参加しました。</dd>
          </dl>
        </a>
        <a href="#" class="news-top__item--link">
          <dl class="flex aiC gap20">
            <dt class="flex aiC gap20 sp-fS">
              <time class="time">2023.1.30</time>
              <!-- <span class="cat">お知らせ</span> -->
            </dt>
            <dd>金属粉末の最新素材「Equisheres（イクスフィアーズ）」の販売を開始しました。</dd>
          </dl>
        </a>
        <a href="#" class="news-top__item--link">
          <dl class="flex aiC gap20">
            <dt class="flex aiC gap20 sp-fS">
              <time class="time">2023.1.30</time>
              <!-- <span class="cat">お知らせ</span> -->
            </dt>
            <dd>TCT Japan 2023 に出展しました。</dd>
          </dl>
        </a>
      </div>
    </div>
    <div class="triangle02" data-aos="fade-left"></div>
  </section>

  <section class="slider-top">
    <div class="containers-full">
      <h2 class="ttl-secondary">革新的な性能を有する<br class="sp-only">金属3Dプリンター</h2>
      <ul id="slider" class="slider">
        <li><a href="/dcms_media/assets/img/pdf/velo3d.pdf" target="_blank"><img src="/dcms_media/assets/img/top/img-slider01.webp" alt="Velo3D"></a></li>
        <li><a href="/dcms_media/assets/img/pdf/gefertec.pdf" target="_blank"><img src="/dcms_media/assets/img/top/img-slider02.webp" alt="GEFERTEC"></a></li>
        <li><a href="/dcms_media/assets/img/pdf/meltio.pdf" target="_blank"><img src="/dcms_media/assets/img/top/img-slider03.webp" alt="MELTIO"></a></li>
        <li><a href="/dcms_media/assets/img/pdf/optomec.pdf" target="_blank"><img src="/dcms_media/assets/img/top/img-slider04.webp" alt="OPTOMEC"></a></li>
      </ul>
    </div>
  </section>

  <section class="stabilize">
    <div class="containers">
      <h2 class="ttl-secondary">金属積層造型の品質向上と安定化を<br>実現するガスソリューション</h2>
      <div class="flex gap30">
        <a href="/printpure/" class="card" data-aos="fade-up" data-aos-delay="100">
          <div class="card__img"><img src="/dcms_media/assets/img/top/img-stabilize01.webp" alt="PrintPure™"></div>
          <div class="card__box">
            <div class="card__box--ttl">PrintPure™</div>
            <div class="card__box--txt">金属積層造型の品質向上と安定化を実現する金属3Dプリンター用アドオン型循環精製装置</div>
            <div class="more">詳しくはこちら</div>
          </div>
        </a>
        <a href="/high-purity-nitrogen-generator/" class="card" data-aos="fade-up" data-aos-delay="200">
          <div class="card__img"><img src="/dcms_media/assets/img/top/img-stabilize02.webp" alt="高純度窒素発生装置"></div>
          <div class="card__box">
            <div class="card__box--ttl">高純度窒素発生装置</div>
            <div class="card__box--txt">99.999％の高純度窒素を発生させる<br>金属3Dプリンティングに特化した装置</div>
            <div class="more">詳しくはこちら</div>
          </div>
        </a>
        <a href="/powder-dry-cabinet/" class="card" data-aos="fade-up" data-aos-delay="300">
          <div class="card__img"><img src="/dcms_media/assets/img/top/img-stabilize03.webp" alt="金属粉末乾燥保管キャビネット"></div>
          <div class="card__box">
            <div class="card__box--ttl">金属粉末乾燥保管キャビネット</div>
            <div class="card__box--txt">金属粉末原料を極低露点、低酸素雰囲気で<br>保管し劣化を防ぐ保管庫</div>
            <div class="more">詳しくはこちら</div>
          </div>
        </a>
      </div>
    </div>
  </section>

  <section class="summary-top">
    <div class="containers-full">
      <div class="flex aiC item">
        <div class="item__img" data-aos="fade-right"><img src="/dcms_media/assets/img/top/img-summary01.webp" alt="プロフェッショナル監修お役立ち情報"></div>
        <div class="item__box" data-aos="fade" data-aos-delay="200">
          <h2 class="item__box--ttl">プロフェッショナル監修<br>お役立ち情報</h2>
          <div class="flex item__wrap">
            <ul class="item__box--list">
              <li><a href="/seminar/">セミナー</a></li>
              <li><a href="/column/">【上級者向け】コラム</a></li>
              <li class="blank"><a href="/coming_soon/" target="_blank">【初心者向け】note</a></li>
            </ul>
            <ul class="item__box--list">
              <li class="blank"><a href="/coming_soon/" target="_blank">【初心者向け】Twitter</a></li>
              <li class="blank"><a href="https://jp.linkedin.com/company/tnsc-am-advanced-solution?trk=similar-pages" target="_blank">Linkdin</a></li>
              <li class="blank"><a href="https://www.youtube.com/channel/UCi7YjRcT73AhZ0hZUAUGWew" target="_blank">YouTube</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="flex row-re aiC item">
        <div class="item__img" data-aos="fade-left"><img src="/dcms_media/assets/img/top/img-summary02.webp" alt="商品に関するご相談・お問合せ"></div>
        <div class="item__box left" data-aos="fade" data-aos-delay="200">
          <h2 class="item__box--ttl">商品に関するご相談・お問合せ</h2>
          <h3 class="item__box--lead">金属3Dプリンター・原材料・ガスソリューションに関するご質問や<br>導入に関するご相談など、お気軽にご連絡ください。</h3>
          <div class="flex item__wrap mb">
            <ul class="item__box--link">
              <li>金属3Dプリンター（Velo3D）</li>
              <li>金属3Dプリンター（GEFERTEC）</li>
              <li>金属3Dプリンター（MELTIO）</li>
              <li>金属3Dプリンター（OPTOMEC）</li>
            </ul>
            <ul class="item__box--link">
              <li>PrintPure™</li>
              <li>高純度窒素発生装置</li>
              <li>金属粉末乾燥保管キャビネット</li>
              <!-- <li>ワイヤー</li> -->
              <li>金属粉末</li>
            </ul>
          </div>
          <a href="/contact/" class="more-orange">ご相談・お問合せ</a>
        </div>
      </div>
      <div class="flex aiC item">
        <div class="item__img" data-aos="fade-right"><img src="/dcms_media/assets/img/top/img-summary03.webp" alt="事業所案内"></div>
        <div class="item__box" data-aos="fade" data-aos-delay="200">
          <h2 class="item__box--ttl">事業所案内</h2>
          <div class="item__wrap">
            <ul class="item__box--list full">
              <li><b>イノベーション事業部  AM営業課《芝事業所》</b><br>〒108-0014　東京都港区芝5-30-9　藤ビル3F<br>TEL.03-5439-5882<br><a href="/company/#map01">アクセスマップへ</a></li>
              <li><b>イノベーション事業部  AMイノベーションセンター《山梨事業所》</b><br>〒408-0015　山梨県北杜市高根町下黒澤3054-3<br>TEL.0551-42-4551<br><a href="/company/#map02">アクセスマップへ</a></li>
            </ul>
          </div>
          <a href="https://www.tn-sanso.co.jp/jp/index.html" class="more-square" target="_blank"><span>大陽日酸株式会社（本社）</span></a>
        </div>
      </div>
    </div>
  </section>



</main>

{% endblock %}