<footer>
  <div class="containers">
    <div class="flex inherit logo">
      <a href="/" class="logo__img"><img src="/dcms_media/assets/img/common/logo.svg" alt="太陽日酸"></a>
      <a href="https://jp.linkedin.com/company/tnsc-am-advanced-solution?trk=similar-pages" target="_blank" class="logo__in"><img src="/dcms_media/assets/img/common/linkedin.svg" alt="linkedin"></a>
    </div>
    <nav class="flex inherit nav">
      <div class="nav__box">
        <ul class="nav__box--list">
          <li><a href="/concept/">コンセプト</a></li>
          <li><a href="/news/">ニュースリリース</a></li>
          <li><a href="/company/">事業所案内</a></li>
        </ul>
      </div>
      <div class="nav__box">
        <div class="nav__box--ttl">金属3Dプリンター</div>
        <ul class="nav__box--list">
          <li><a href="/dcms_media/assets/img/pdf/velo3d.pdf" target="_blank">Velo3D</a></li>
          <li><a href="/dcms_media/assets/img/pdf/gefertec.pdf" target="_blank">GEFERTEC</a></li>
          <li><a href="/dcms_media/assets/img/pdf/meltio.pdf" target="_blank">MELTIO</a></li>
          <li><a href="/dcms_media/assets/img/pdf/optomec.pdf" target="_blank">OPTOMEC</a></li>
        </ul>
      </div>
      <div class="nav__box">
        <div class="nav__box--ttl">ガス技術・その他</div>
        <ul class="nav__box--list">
          <li><a href="/printpure/">PrintPure™</a></li>
          <li><a href="/high-purity-nitrogen-generator/">高純度窒素発生装置</a></li>
          <li><a href="/powder-dry-cabinet/">金属粉末乾燥保管キャビネット</a></li>
        </ul>
      </div>
      <div class="nav__box">
        <div class="nav__box--ttl">お役立ち情報</div>
        <ul class="nav__box--list">
          <li><a href="/column/">【上級者向け】コラム</a></li>
          <li><a href="/coming_soon/" target="_blank">【初心者向け】note</a></li>
          <li><a href="/coming_soon/" target="_blank">【初心者向け】Twitter</a></li>
          <li><a href="/seminar/">セミナー</a></li>
        </ul>
      </div>
      <div class="nav__box">
        <div class="nav__box--ttl">お問合せ</div>
        <ul class="nav__box--list">
          <li><a href="/contact/">ご相談・お問合せ</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <aside class="flex aside">
    <ul class="flex aside__nav">
      <li><a href="/privacy-policy/">プライバシーポリシー</a></li>
      <li><a href="/cookie_policy/">Cookieポリシー</a></li>
      <li><a href="/sitemap/">サイトマップ</a></li>
      <!-- <li><a href="/company/">会社概要</a></li> -->
    </ul>
    <div class="aside__copy">Copyrightc 2023 TAIYO NIPPON SANSO CORPORATION All rights reserved.</div>
  </aside>
</footer>