<header>
  <div class="in">
    <aside class="flex aiC inherit">
      <div class="in__logo"><a href="/"><img src="/dcms_media/assets/img/common/logo.svg" alt="大陽日酸"></a></div>
      <nav class="in__nav pc-only">
        <a href="/contact/" class="more-orange">ご相談・お問合せ</a>
      </nav>
      <div id="nav-toggle" class="sp-only">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </aside>
  </div>
  <nav class="nav-list pc-only">
    <ul class="flex nav-list-box">
      <li><a href="/concept/" class="link">コンセプト</a></li>
      <li><a href="/news/" class="link">ニュースリリース</a></li>
      <li class="parent">
        <a href="#" class="disabled">金属3Dプリンター</a>
        <div class="mega pull">
          <ul class="mega__box">
            <li class="blank"><a href="" class="" target="_blank">Velo3D</a></li>
            <li class="blank"><a href="" class="" target="_blank">GEFERTEC</a></li>
            <li class="blank"><a href="" class="" target="_blank">MELTIO</a></li>
            <li class="blank"><a href="" class="" target="_blank">OPTOMEC</a></li>
          </ul>
        </div>
      </li>
      <li class="parent">
        <a href="#" class="disabled">ガス技術・その他</a>
        <div class="mega pull w300">
          <ul class="mega__box">
            <li class=""><a href="/printpure/" class="">PrintPure™</a></li>
            <li class=""><a href="/high-purity-nitrogen-generator/" class="">高純度窒素発生装置</a></li>
            <li class=""><a href="/powder-dry-cabinet/" class="">金属粉末乾燥保管キャビネット</a></li>
            <li class="cta"><a href="" class="">ワイヤー（お問合せ）</a></li>
            <li class="cta"><a href="" class="">金属粉末（お問合せ）</a></li>
          </ul>
        </div>
      </li>
      <li><a href="" class="link">事業所案内</a></li>
      <li class="parent">
        <a href="#" class="disabled">お役立ち情報</a>
        <div class="mega pull right w300">
          <ul class="mega__box">
            <li class=""><a href="/seminar/" class="">セミナー</a></li>
            <li class=""><a href="" class="">【上級者向け】コラム</a></li>
            <li class="blank"><a href="" class="" target="_blank">【初心者向け】note</a></li>
            <li class="blank"><a href="" class="" target="_blank">【初心者向け】Twitter</a></li>
            <li class="blank"><a href="https://jp.linkedin.com/company/tnsc-am-advanced-solution?trk=similar-pages" class="" target="_blank">Linkdin</a></li>
            <li class="blank"><a href="https://www.youtube.com/channel/UCi7YjRcT73AhZ0hZUAUGWew" class="" target="_blank">YouTube</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>

  <div id="gloval-nav" class="sp-only">
    <ul class="list">
      <li><a href="/concept/">コンセプト</a></li>
      <li><a href="/news/" class="">ニュースリリース</a></li>
      <li><a href="#" class="disabled">金属3Dプリンター</a></li>
      <li class="child"><a href="" target="_blank"><span>Velo3D</span></a></li>
      <li class="child"><a href="" target="_blank"><span>GEFERTEC</span></a></li>
      <li class="child"><a href="" target="_blank"><span>MELTIO</span></a></li>
      <li class="child"><a href="" target="_blank"><span>OPTOMEC</span></a></li>
      <li><a href="#" class="disabled">ガス技術・その他</a></li>
      <li class="child"><a href="/printpure/">PrintPure™</a></li>
      <li class="child"><a href="/high-purity-nitrogen-generator/">高純度窒素発生装置</a></li>
      <li class="child"><a href="/powder-dry-cabinet/">金属粉末乾燥保管キャビネット</a></li>
      <li class="child"><a href="">ワイヤー（お問合せ）</a></li>
      <li class="child"><a href="">金属粉末（お問合せ）</a></li>
      <li><a href="">事業所案内</a></li>
      <li><a href="#" class="disabled">お役立ち情報</a></li>
      <li class="child"><a href="/seminar/">セミナー</a></li>
      <li class="child"><a href="">【上級者向け】コラム</a></li>
      <li class="child"><a href="" target="_blank"><span>【初心者向け】note</span></a></li>
      <li class="child"><a href="" target="_blank"><span>【初心者向け】Twitter</span></a></li>
      <li class="child"><a href="https://jp.linkedin.com/company/tnsc-am-advanced-solution?trk=similar-pages" target="_blank"><span>Linkdin</span></a></li>
      <li class="child"><a href="https://www.youtube.com/channel/UCi7YjRcT73AhZ0hZUAUGWew" target="_blank"><span>YouTube</span></a></li>
    </ul>
    <ul class="aside">
      <li><a href="/contact/" class="more-orange">ご相談・お問合せ</a></li>
    </ul>
  </div>
</header>